@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);

    transform: translate(-50%,-50%);
    transition: width 0.3s,  height 0.3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: #5f2c82 url("../img/edificio.jpg" ) no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

section#login > div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#form > p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo > input {
    background-color: #53b7b4;
    border: 0px;
    border-radius: 8px;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    padding: 4px;

    /* Animação sempre por ultimo */
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #277270;

}

form > a.botao {
    display: block;

    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: #2d6260;

    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 6px;

    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    
}

form > a.botao:hover {
    background-color: #5ac4c1;
}

form > a.botao > span {
    font-size: 1em;
}